<div>
    <app-navbar></app-navbar>
    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center" id="top-heading">Work Experience and achievements</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Full Stack Developer at Omnipresent Tech</h3>
                                <h4 class="organization">Omnipresent Tech</h4>
                            </div>
                        </div>
                        <p class="text-muted">I worked as a full stack web developer where I built multiple projects
                            from scratch
                            which were directly used in production for companies like Aditiya Birla Group (Hindalco
                            Project), Webel
                            Project (Government) etc. I created Dashboards with role based access systems, intgrated
                            analytics,
                            Livestream using Surveillance Drones and CCTV cameras, File upload, Sms and Email Services
                            for notification system,
                            Messaging features etc.
                        </p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Infosys Digital India Makeathon 1st Runners Up</h3>
                                <h4 class="organization">Infosys Chandigargh 2019</h4>
                            </div>
                        </div>
                        <p class="text-muted">Me and my team represented our college at Infosys Digital India Makeathon
                            where my team MicroBits secured the 1st Runner's up position for building a Social Media
                            Integrated Platform which makes it easier for citizens to reach out
                            to the officials, report problems and build a community of people who want to work for the
                            betterment of the city.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <h3>NodeJS Backend Developer at Office of Advisor to the Chief Minister of NCT of Delhi
                                </h3>
                                <h4 class="organization">Delhi Government</h4>
                            </div>
                        </div>
                        <p class="text-muted">I worked as an NodeJS backend intern for the Delhi Government under the
                            Advisor to the CM, Sir Gopal Mohan where I built the backend for the Mohalla Sabha Project.
                            My duties involved Database Administration, AWS Architecture design
                            and deployments, Backend Development etc.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <h3>NodeJS Backend Developer at INCAMPUS</h3>
                                <h4 class="organization">Incampus</h4>
                            </div>
                        </div>
                        <p class="text-muted">I worked as an NodeJS backend Developer for the Startup INCAMPUS where I
                            helped to build the Incampus app's Backend, and Deploy it at least cost with Maximum
                            Scalability using Kubernetes, docker images and implemented&nbsp; CI/CD
                            using Jenkins</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Soft Skills Certification From AICTE</h3>
                                <h4 class="organization"><em>AICTE</em></h4>
                            </div>
                        </div>
                        <p class="text-muted">I attended a 6 week workshop on Soft Skills, by AICTE where I learnt about
                            the Proper Ways of Communication, Leadership, Change Management, Time Management and Self
                            Introspection.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>TEAM LEADER in SIH 2020</h3>
                                <h4 class="organization"><em>SIH</em>&nbsp;2020</h4>
                            </div>
                        </div>
                        <p class="text-muted">I was the Team Leader of my Team Microbits in Smart India Hackathon. My
                            team Secured 1st Position in the Internal Hackathon for the same.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>MENTOR in WeCBR Hackathon</h3>
                                <h4 class="organization"><em>WeCBR</em></h4>
                            </div>
                        </div>
                        <p class="text-muted">I was the Meantor for the Hackathon held in MSIT by WeCBR Hackathon 0.0
                        </p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>6 Month MEAN STACK training from Croma Campus</h3>
                                <h4 class="organization"><em>Croma Campus</em></h4>
                            </div>
                        </div>
                        <p class="text-muted">I completed my 6 month Industrial training from Croma Campus where I
                            learnt about System Design, MVC, Best Practices related to web development etc.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>MEAN STACK intern at Biorev LLC</h3>
                                <h4 class="organization"><em>Biorev LLC</em></h4>
                            </div>
                        </div>
                        <p class="text-muted">I worked as a MEAN STACK development intern at Biorev LLC under the
                            X-Inter program where I worked on 3D rendering of houses and their Interiors, Landing pages
                            for the same etc. In that internship I learnt about the importance
                            of Documentation, how to write clean code, how to make presentations and pitch them well. I
                            also learnt how to maintain work life balance, even in tough night timings of the Internship
                            (9pm till 6 am) and also learnt how office server works.</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>MEAN STACK intern at Futerox Interactive</h3>
                                <h4 class="organization"><em>Futerox Interactive</em></h4>
                            </div>
                        </div>
                        <p class="text-muted">I worked as a MEAN Stack Intern at Futerox Interactive for 6 weeks where I
                            worked on Landing Pages, Responsive Design&lt; UI / UX of many smaller projects like
                            Dashboards etc, And a Trip Planner MEAN app.</p>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Maharaja Surajmal Institute of Technology</h3>
                                <h4 class="organization">BTECH - Computer Science Engineering</h4>
                            </div>
                            <div class="col-6"><span class="period">2017 - 2021</span></div>
                        </div>
                        <p class="text-muted">Currently pursuing btech with an aggregate of 8.15</p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="organization">St. Georges School</h3>
                            </div>
                            <div class="col-md-6"><span class="period">2017</span></div>
                        </div>
                        <p class="text-muted">Completed my 12th CBSE Board with 86.6% Aggregate</p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <h3>MEAN STACK</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%;"><span class="sr-only">100%</span></div>
                                </div>
                                <h3>DEVOPS</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 90%;"><span class="sr-only">90%</span></div>
                                </div>
                                <h3>SOFTSKILLS</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 80%;"><span class="sr-only">80%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>
                                    <div class="col-9"><span>17/07/1999</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>Mohak Chugh</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                    <div class="col-9"><span>+91 9810178257</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span>me.mohakchugh@gmail.com</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><a href="https://bit.ly/mohakresume"><span>Resume</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>