<app-navbar></app-navbar>
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>Citizens App</h2>
            </div>
            <div class="image" style="background-image:url(assets/img/tech/citizens.png);"></div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    Link to Live Demo:
                    <a href="https://citizensapp.firebaseapp.com/">Click here</a>
                    <p>
                        <strong>Use Case Description</strong>
                        Build a Smart App for Citizens Government Collaboration. The application enables citizens to report local problems such as potholes, illegal trash dumping, faulty street lights, broken tiles on sidewalks, and illegal advertising boards. A digitized platform to report such issues will avoid redundant complaints, easier access for remote issue to government, and ensure a streamlined action. For citizens to put a complaint, they can always check for a similar complaint to be made, and add their digital signatures to add the impact of a particular issue.
                    </p>
                    <p>
                        <strong>Context</strong>
                        A city becomes smarter only when citizens and govt work together.
                        In a Smart City every citizen should be able to report the local problems effectively, anonymously (if required), via transparent process which reaches every remote area of the city.                        
                    </p>
                    <p>
                        <strong>Link To PPT</strong>
                        <a href="https://docs.google.com/presentation/d/1vr-UgDl6nfJExo42RxD7eqOwlWR6SBeefC36Fz5c7vc/edit#slide=id.g625fc2d8bc_0_7">Click Here</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 offset-md-1 meta">
                    <div class="tags"><span class="meta-heading">Tags</span><a href="#">Resource</a><a href="#">Project</a><span class="meta-heading">Date</span><span>25-04-2017</span></div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>