<footer class="page-footer">
    <div class="container">
        <div class="links">
            <a [routerLink]="['/cv']">About me</a>
            <a [routerLink]="['/contact']">Contact me</a>
            <a [routerLink]="['/project']">Projects</a>
        </div>
        <div class="social-icons">
            <a href="https://github.com/MohakChugh"><i class="icon ion-social-github"></i></a>
            <a href="https://www.instagram.com/mohak_projects/"><i class="icon ion-social-instagram"></i></a>
            <a href="https://in.linkedin.com/in/mohak-chugh-37a681141"><i class="icon ion-social-linkedin"></i></a>
            <a href="https://twitter.com/MohakChugh"><i class="icon ion-social-twitter"></i></a>
        </div>
        <div>
            <span>
                Mohak Chugh
            </span>
        </div>
    </div>
</footer>