<footer class="page-footer">
    <div class="container">
        <div class="links"><a [routerLink]="['/cv']">About me</a><a
                href="#">Contact me</a><a [routerLink]="['/project']">Projects</a></div>
        <div class="social-icons"><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i
                    class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a
                href="#"><i class="icon ion-social-twitter"></i></a>
        </div>
    </div>
</footer>