<div>
    <app-navbar></app-navbar>
    <main class="page contact-page" id="top-heading">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Contact me</h2>
                    <h4 style="color: rgba(33,37,41,0.58);">
                        Wanna work on a project? Hit me up and lets start working on it!
                    </h4>
                    <br>
                    <div class="heading btn alert-primary" style="color: rgba(33,37,41,0.58);">
                        <a href="mailto:me.mohakchugh@gmail.com?subject=Contacting Via Your Website">Email me at : me.mohakchugh@gmail.com</a>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
            <app-social-media-accordian></app-social-media-accordian>
        </section>
    </main>
    <app-footer></app-footer>
</div>