<div>
    <app-navbar></app-navbar>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Contact me</h2>
                    <h4 style="color: rgba(33,37,41,0.58);">Tell me about your project, tell me about your vision, HMU
                        and lets start working on it</h4>
                </div>
                <div>
                    <h4 style="color: rgba(33,37,41,0.58);" class="heading">
                        <a href="mailto:me.mohakchugh@gmail.com">Email me at : me.mohakchugh@gmail.com</a>
                    </h4>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>