<app-navbar></app-navbar>
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2 id="top-heading">Farmers App</h2>
            </div>
            <div class="image" style="background-image:url(assets/img/tech/agritech.png);"></div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    Link to Live Demo:
                    <a href="https://farmersapp-microbits.firebaseapp.com/">Click Here</a>
                    <p>
                        Link to Github
                        <a href="https://github.com/mohakchugh/farmersapp">Click Here</a>
                    </p>
                    <p>
                        AgriTech aspires to make the process of connecting the suppliers & consumers seamless, through
                        an “open and transparent channel” using the ideology of “an everything store for people
                        expecting more” where producers get all the information they needs for high profitability and
                        the consumers get best quality produce directly from the farm.
                        Penny-Pinching, while you enjoy your fresh veggies!

                        Business Relevance (Our role in Indian Market)
                        We ensure natural supply-demand by digitizing the process, thereby “reducing inflation” and
                        “reducing the scope of profiteering”.
                        “Normalised rates” are automatically enforced because of vast variety of supplies from
                        producers.
                        Reducing “income disparity” between large scale farmers and small scale farmers by providing
                        them same level of playing ground.
                        It is an initiative taken to “organise an unorganised sector”.
                    </p>
                    <p>
                        AgriTech uses a 3-tier architecture,
                        Frontend is powered by Angular providing strong static typing at the client side and robust
                        state management for seamless user experience.

                        Middle Tier is implemented as Dockerized Microservices using Express on NodeJS, enabling high
                        performance and also coordinating with our Python modules for NLP & Image Processing.

                        Physical Tier integrates SQL and NoSQL (MongoDB) as database featuring strong relational
                        mappings, flexibility and high level of robustness.

                    </p>
                    <p>
                        Quirks and features!
                        The producers and consumers registers, authenticating into our app or via whatsapp.
                        Guided by our “Voice Assistant”, on each and every step the producer can update information
                        about their produce, or they can also use, “OK Google”, “WhatsApp” & “Facebook Messenger” for
                        the same on our platform.
                        As soon as the produce is posted, it is put up as a bid for the buyers on our bidding-feed. Real
                        time “Bidding” takes place and the highest bidder claims the produce.
                        Buyers can use “Buy Now” feature which bypasses them from the bidding process and allows them to
                        claim the product directly at a fixed price which is stated by the producer.
                        Once a bid is updated, expired or claimed, the producer & the highest-bidder are “Always
                        Notified” via SMS, Whatsapp & push-notifications.
                        When the buyer claims the bid, they are asked to pay 15% of the total produce amount, as a token
                        which is refundable, if any party fails to meet their side of contract. On completion of
                        delivery, the buyer pays the remaining 85% of the amount.
                    </p>
                    <p>
                        Why AgriTech?
                        Reaching all scale producers using the apps that are already installed on their phone such as
                        WhatsApp, Facebook.
                        An easy and seamless Bidding process, also assisting our users with a Voice Assistant which
                        guides them on each and every step of the process.
                        Reaching an audience who doesn’t operate on smartphones using OK Google, supported by
                        IDEA-Vodafone, which works even on feature phones, targeting more than 70% of the user base.
                        The Probability of the produce of being good quality will be calculated on 3 parameters, i.e.
                        The QA report, Output of our ML algorithms (Geolocation + Image Processing) and previous history
                        of the producer i.e. his User Rating.
                    </p>
                    <p>
                        Link to ppt:
                        <a
                            href="https://docs.google.com/presentation/d/1xDPth2sxfXL4W2G8_0gDD7KL_TM6q0hYhag-hjXBiQY/edit#slide=id.gcb9a0b074_1_0">Click
                            Here</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 offset-md-1 meta">
                    <div class="tags">
                        <span class="meta-heading">Tags</span>
                        <a>Resource</a><a>Project</a>
                        <span class="meta-heading">Date</span>
                        <span>25-04-2017</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>