<app-navbar></app-navbar>
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2 id="top-heading">Classifier Selector</h2>
            </div>
            <div class="image" style="background-image:url(assets/img/tech/Dashboard_Demo.gif);"></div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    Link to Github:
                    <a href="https://github.com/MohakChugh/DataDashboards" target="_blank">Click Here</a>
                    <h4>Machine Learning Classifier Dashboard for IRIS Dataset</h4>
                    <p>
                        Machine Learning Dashboard for Prediction of Class of the Iris Dataset
                    </p>
                    <ul>
                        <li>K Nearest Neighbours</li>
                        <li>Logistic Regression</li>
                        <li>Decision Tree Classifier</li>
                        <li>Random Forest</li>
                        <li>Support Vector Machine</li>
                    </ul>

                    <h4>Features</h4>
                    <ul>
                        <li>Prediction</li>
                        <li>Comparison between multiple classifiers</li>
                        <li>Trends and Dataset View</li>
                        <li>Directly See the accuracy while selecting the classifier</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 offset-md-1 meta">
                    <div class="tags">
                        <span class="meta-heading">Tags</span>
                        <a>Dashboard</a>
                        <a>Project</a>
                        <span class="meta-heading">Date</span>
                        <span>20th Jan 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>