<div>
    <app-navbar></app-navbar>
    <main class="page lanidng-page" id="top-heading">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/dp1.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am <a href="https://bit.ly/mohakresume"><strong>Mohak Chugh</strong></a>. I work as MEAN Stack developer. I have a passion for
                        system designing, building projects from scratch and working on devops and entrepreneurial side
                        of the projects.</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a [routerLink]="['/project']"><img
                                class="img-fluid image" src="assets/img/tech/agritech.png"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a [routerLink]="['/project']"><img
                                class="img-fluid image" src="assets/img/tech/pm.png"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a [routerLink]="['/project']"><img
                                class="img-fluid image" src="assets/img/tech/citizens.png"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">
                        <a href="http://github.com/mohakchugh"> Check Out My Github To Learn More</a>
                    </button>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-code"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Full Stack Development</h3>
                                <p class="card-text">I love building projects from scratch. I like working on how the
                                    frontend will talk to the backend, how the backend will be structured and how will
                                    the finished product will look.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-gear-a"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Devops and Cloud Deployments</h3>
                                <p class="card-text">The projects are not only limited to just working on dev
                                    environments, but actually being deployed. Thats where I will be useful. Dockers?
                                    Kubernetees? AWS or Azure? You got a guy who can handle it all.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Planning and Creative Decisions</h3>
                                <p class="card-text">My passion is to work on the business side of the projects as well.
                                    Working on the business relevance, the projects scope, how to reach the audience,
                                    pitch etc.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Get Creative with Business Solutions</h3>
                    <p>Build solutions which increase your productivity, brings business to you and more importantly
                        saves time and money.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content"
                                style="background-image: url(&quot;assets/img/tech/text-editor.gif&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>