<app-navbar></app-navbar>
<div class="article-clean" id="topHeading">
    <div class="container">
        <h1>This Allows you to delete Blogs! Be careful!</h1>
        <div class="row">
            <div *ngFor="let item of blogs" class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <!-- button in red which says delete -->

                <br>
                <hr>
                <br>
                <div class="intro">
                    <p class="text-center">
                        <span class="by">by</span>
                        <a [routerLink]="['/']">Mohak Chugh</a>
                        <span class="date">{{item.time | date }}</span>
                        &nbsp;&nbsp;&nbsp;
                        <button margin="10px" class="btn btn-danger" (click)="deleteBlog(item)">Delete</button>
                    </p>
                </div>
                <div class="text" [innerHTML]="item.Content">
                </div>
                <p>Sharable link: <a href="{{item.link}}">{{item.link}}</a></p>
            </div>
        </div>
        <div class="text-center">
            <h1 *ngIf="loading" class="alert">Quality content takes time!</h1>
            <i *ngIf="loading" class="fa fa-spinner fa-spin" style="font-size:50px"></i>
            <br>
            <br>
        </div>
    </div>
</div>
<app-footer></app-footer>